
* {
  box-sizing: border-box;
}
:root {
  --modal-backround-kolor: #fcfcfc;
  --header-backround: #ffffff;
  --image-backround: #2e2f42;
  --light-backround: #f4f4fd;
  --acent-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --text: #434455;
  --pressed-state: #404bbf;
  --pimary-brand: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--header-backround);
  color: var(--text);
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;

} 

ul {
  margin: 0;
}
img {
  display: block;
}

.container { 
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;

}

.benefits {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}


.closing {

  
}
.logo-link {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--pimary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
 
 
 
}
.logo-link:hover {
  color: var(--pressed-state);
}

.logo-studio {
  font-family: "Raleway", sans-serif;

  align-items: center;

  color: var(--light-backround);
  padding-top: 100px;



}
.logo-studio-link {
  color: var(--image-backround);
  margin-right: 76px;
  

 
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--image-backround);
  display: flex;
}

.link-menu:hover {
  color: var(--pressed-state);
}
.link-menu:focus {
  color: var(--pressed-state);
}

.titlel-section {
  background: var(--image-backround);
  padding-bottom: 188px;
  padding-top: 188px;

}

.main-page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-backround);
  
  
  margin-bottom: 48px;

  min-width: 496px;
}

.btn-order {
  font-family: "Roboto", sans-serif;
  background: var(--pimary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--header-backround);

  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  
}


.btn-order:hover {
  background-color: var(--pressed-state);
}

.btn-order:focus {
  background-color: var(--pressed-state);
}

.link-information {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  color: var(--text);

  letter-spacing: 0.02em;
  display: flex;
}

.link-information:hover {
  color: var(--pressed-state);
}

.link-information:focus {
  color: var(--pressed-state);
}

.information {
  background: var(--header-backround);
}

.title-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--image-backround);
  margin-bottom: 8px;
  padding-top: 120px;

}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-bottom: 120px;
}

.subtitle-main-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--image-backround);
  margin-top: 120px;
  margin-bottom: 72px;
}

.section-team {
  background: var(--light-backround);
}

.desc-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--image-backround);
  padding-top: 120px;
  margin-bottom: 72px;

}

.images-photo {
  background: var(--header-backround);
  padding-bottom: 120px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--image-backround);
  padding-bottom: 8px;
}

.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

.closing {
  background: var(--image-backround);
  padding-bottom: 156px;
  padding-top: 156px;
}

.paragraph-ft {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-backround);
  padding-bottom: 100px;
  
  margin-top: 16px;
  
}

.main-menu-one {
  font-family: "Roboto", sans-serif;
  background: var(--light-backround);

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--pimary-brand);
  cursor: pointer;

margin-bottom: 72px;
  
}
.main-menu-one {
  display: block;
  margin: 0 auto;
}
.main-menu-one:hover {
  color: var(--header-backround);
}

.main-menu-one:focus {
  color: var(--header-backround);
}

.main-menu-one:hover {
  background-color: var(--pressed-state);
}

.main-menu-one:focus {
  background-color: var(--pressed-state);
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.link {
  text-decoration: none;
}

.link-address {
  font-style: normal;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--image-backround);
  margin-top: 32px;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--text);
  padding-bottom: 32px;
}
 .section-img {
  padding-bottom: 120px;

 }
 .img-main-page {
  margin-right: 24px;
 }
 .home-page {
  padding-top: 96px;
  padding-bottom: 120px;
 }

 .navigation {
  display: flex;
  align-items: center;
 }